body {
    overflow-x: hidden; /* Impede rolar para o lado */
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2em;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.produto {
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0 10px;
    width: 300px;
}

.produto img {
    width: 100%; /* Tamanho ajustado da imagem */
    height: auto;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

.produtos-container {
    display: flex;
    overflow-x: auto; /* Permite rolar para o lado */
    scrollbar-width: thin; /* Estiliza a barra de rolagem no Firefox */
    scrollbar-color: darkgrey lightgrey; /* Estiliza a barra de rolagem no Firefox */
}