body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    margin: 0px;
    margin-left: 11%;
}
nav {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}
h1 {
    text-align: left;
    width: 100%;
    overflow-x: hidden;
}
.imagens {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 0px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

section {
    margin: 20px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.review h3 {
    color: #333;
}

.review h4 {
    color: #666;
}

.review p {
    margin-top: 10px;
}

.avaliacao {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
