body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    margin: 0px;
    margin-left: 11%;

}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

h1 {
    text-align: left;
    width: 100%;
    overflow-x: hidden;
}

.imagens {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 0px;
    cursor: pointer;
}
.cart-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.cart-product {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-product img {
    width: 100%;
    margin-bottom: 10px;
}

.cart-product select {
    margin-top: 10px;
}

.cart-product button {
    margin-top: 10px;
    background-color: #ff5252;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.cart-product button:hover {
    background-color: #ff0000;
}
