/* Estilo para a dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo para o conteúdo da dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Mostra o conteúdo da dropdown quando o mouse passa sobre a dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para os links dentro da dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Estilo para os links dentro da dropdown quando o mouse passa sobre eles */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* Estilo para a navegação (nav) */
nav {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}

/* Estilo para remover borda do botão */
button {
    border: none;
    background: none;
}