body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #fff;
    padding: 10px;
    margin-left: 11%;
}

h1 {
    text-align: left;
    width: 100%;
}

nav {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

.imagens {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 0px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* Estilos da seção de contato e suporte */
section {
    text-align: center;
    margin: 20px;
}

h2 {
    color: #000;
}


/* Estilos do formulário de contato */
form {
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #333;
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
}
    